body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    background-color: #ffffff;
    overflow-y: auto;
    text-align: center;
}

h1 {
    font-weight: 500;
    margin-bottom:0;
}

h2 {
    font-weight: 400;
    margin-top:1.5em;
    margin-bottom:0.5em
}

h3 {
    font-weight: 300;
    margin-top:1.0em;
    margin-bottom:0.5em;
}

.container { 
    /* No-colored container - To vertically combine a button with a video, iframe or other container */
    position: static;
    width: min(100%, 80vw, 800px);
    max-height: min(100%, 80vw, 700px);
    height: fit-content;
    padding: 0 20px;
    /* border-radius: 15px; */
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    flex-direction: column; /* So that button and video are stacked vertically */
}


.chevron-container {
    /* Container that contains one item (video or iframe), a chevron and then another item */
    flex-direction: row;
    overflow-x: auto;  /* Allows horizontal scrolling if content is wider than container */
    box-sizing: border-box;
    border: 1em solid #f0f0f0;
    background-color: #f0f0f0;
    border-radius: 15px;
}

.splats-iframe {
    border: none;
    aspect-ratio: 1 / 1;  /* Forces a square aspect ratio */
    height: 100%; 
    width: 100%;
}
   
video {
    box-sizing: border-box;
    border: 1em solid #f0f0f0;
    border-radius: 15px;
    width: 100%;
    height: auto;
    max-height: 100%;
}

.vertical-video {
    /* Vertical video contained within a chevron container */
    width: auto;
    height: 100%;
    margin-left: auto; /* This will align the video to the left */
    border: 0
}

iframe {
    width: 100%;
}

div {
    width: 100%
}

button {
    align-self: flex-start;    
    background-color: #f0f0f0;
    align-items: center;
    justify-content: space-between; /* Ensures space between the text and the right icon */
    width: 100%;
    color: #333;
    padding: 10;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 2%;
    text-align: left; 
    border-top-right-radius: 15px;
    display: flex
}

button i:first-child {
    margin-right: 10px; /* Adjust the value as needed */
}

button i.fa-arrow-pointer {
    color: rgba(255, 140, 0, 0.801);
    font-size: 20px;
}


button:hover {
    background-color: #e0e0e0;
}

button.show {
    border-radius: 15px 15px 0 0;
}

.dropdown {
    background-color: #f0f0f0;
    color: #333;
    height: 0;
    width: min(100%, 80vw, 800px);
    border: none;
    cursor: pointer;
    font-size: 16px;
    z-index: 10;
    position: relative;
    overflow: hidden;
    transition: max-height 1s;
    transition-timing-function: ease;
}

.dropdown.show {
    height: fit-content;
    position: relative;
    border-radius: 0 0 15px 15px;
}
